{% extends "main/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="main-section form-block">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль?
        <br>Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-light mt-2" type="submit" value="{% trans 'Reset My Password' %}"/>
    </form>
</div>
{% endblock %}
