{% extends "main/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="main-section form-block">
    <h3>{% trans "Sign Up" %}</h3>
    <form class="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-outline-light mt-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
    <p class="mt-2">{% blocktrans %}Уже зарегистрированы? <a class="text-primary text-decoration-none" href="{{ login_url }}">Войдите.</a>{% endblocktrans %}
    </p>
</div>
{% endblock %}
