{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="main-section form-block">
    <form method="POST" class="form">
        {% csrf_token %}
        <p class="mb-3">
            <label  class="m-0">Введите название</label>
            <input type="text" name="title" value="{{todo.title}}" />
        </p>
        <p class="mb-3">
            <label  class="m-0">Введите описание</label>
            <input type="text" name="description" value="{{todo.description}}" />
        </p>
        <input class="btn btn-warning" type="submit" value="Сохранить" >
    </form>
</div>
{% endblock %}