{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
  <div class="container">
    <h1>Личные данные</h1>
    <form method="POST" >
      {% csrf_token %}
        <p>
            <label>Имя</label><br>
          <input type="text" name="first_name" value="{{human.first_name}}" />
        </p>
        <p>
            <label>Фамилия</label><br>
          <input type="text" name="second_name" value="{{human.second_name}}" />
        </p>

      <select name="id_branch" id="id_branch">
        {% for el in Branch %}
          <option value="{{ el.name }}">{{ el.name }}</option><br>
         {% endfor %}
      </select>
      <input type="submit" value="Сохранить" >
    </form>
  </div>
{% endblock %}