{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <div class="container-fluid banner">
    <div class="container">
      <div class="row">
        <div class="col-12 main-title">
          <h1 class="mb-3">Project To Do</h1>
          <span>To Do поможет вам сосредоточиться</span>
          <br>
          <span>на любом занятии — от работы до игры.</span>
        </div>
        <div class="col-12 text-center">
          <a href="{% url 'tasks' %}" role="button" class="btn btn-outline-light">Начать работу</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}