{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-white text-center mt-4 mb-4">{{ title }}</h2>
  <div class="card p-3">
    <div class="d-flex border border-warning p-5">
      <div>
        <img class="avatar-profile" src="{{ self_human.avatar.url }}" alt="avatar">
      </div>
      <div class="text-white ml-4">
        <div class="mb-2 d-flex title-profile">
  <!--          <div class="default-title">Логин:</div><div class="dinamik-title">{{ request.user.username }}</div>
        </div>
        <div class="mb-2 d-flex title-profile">-->
            <div class="default-title"><!--Данные:--></div><div class="dinamik-title">{{ self_human.first_name }} <span class="ml-2">{{ self_human.second_name }}</span></div>
        </div>
        <div class="mb-2 d-flex title-profile">
            <div class="default-title"><!--Должность::-->Отдел работы:</div><div class="dinamik-title">{{ self_human.id_branch }}</div>
        </div>
        <div class="mb-2 d-flex title-profile">
            <div class="default-title">Email:</div><div class="dinamik-title">{{ request.user.email }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h4 class="text-white text-center mt-4 mb-4">Взятые задачи</h4>
</div>
<div class="accordion mt-4" id="accordionTable">
    {% for el in tasks %}
      {% if user_info == el.id_performing_person %}
        <div class="card text-white">
          <a class="text-white text-decoration-none" type="button" data-toggle="collapse" data-target="#id{{ el.id }}"
             aria-expanded="true" aria-controls="collapseOne" href="#">
            <div class="card-header d-flex justify-content-between">
              <h5>{{ el.title }}</h5>
              <span class="card-status text-warning">{{ el.id_status }}</span>
              <p class="text-uppercase text-warning">Описание:</p>
              <p class="ml-3">{{ el.description }}</p>
              <span>{{ el.id_person }}</span>
              <span class="ml-2">{{ el.date }}</span>
            </div>
          </a>
        </div>
      {% endif %}
  {% endfor %}
</div>
{% endblock %}