{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  {% if tasks %}
  <h2 class="text-light text-center mt-5">{{ title }}</h2>
  <div class="accordion mt-4" id="accordionTable">
    {% for el in tasks %}
    <div class="card text-white bg-dark">
      <a class="text-light text-decoration-none" type="button" data-toggle="collapse" data-target="#id{{ el.id }}"
         aria-expanded="true" aria-controls="collapseOne" href="#">
        <div class="card-header d-flex justify-content-between">
          <h5>{{ el.title }}</h5>
          {% if el.id_status == "Готово" %}
          <span class="mt-1 text-success">{{ el.id_status }}</span>
          {% elif el.id_status == "Выполняется" %}
          <span class="mt-1 text-warning">{{ el.id_status }}</span>
          {% else %}
          <span class="mt-1 text-info">{{ el.id_status }}</span>
          {% endif %}
        </div>
      </a>
      <div id="id{{ el.id }}" class="collapse" data-parent="#accordionTable">
        <div class="card-body bg-secondary">
          <div class="border-bottom border-dark">
            <div class="d-flex">
              <p class="text-uppercase">Описание:</p>
              <p class="ml-3">{{ el.description }}</p>
            </div>
            <div class="d-flex justify-content-end subtitle-task mb-2">
              <span>{{ el.id_person }}</span>
              <span class="ml-2">{{ el.date }}</span>
            </div>
          </div>
          <div class="d-flex mt-2 justify-content-between">
            <div class="d-flex">
              <span>Исполнитель:</span>
              <span class="ml-2">{{ el.id_performing_person }}</span>
            </div>
            <div class="d-flex">
              {% if el.id_performing_person == "-" %}
              <a class="btn btn-sm btn-success" href="{% url 'id_up_status' el.id %}">Принять</a>
              {% elif el.id_status == "Готово" %}
                {% if user_info == el.id_performing_person %}
                  <a class="btn btn-sm btn-danger" href="{% url 'id_down_status' el.id %}">Отменить</a>
                {% endif %}
              {% else %}
                {% if user_info == el.id_performing_person %}
                  <a class="btn btn-sm btn-success" href="{% url 'id_up_status' el.id %}">Готово</a>
                  <a class="btn btn-sm btn-danger ml-2" href="{% url 'id_down_status' el.id %}">Отменить</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h2 class="text-light text-center mt-5">Список задач пуст!</h2>
  {% endif %}
</div>
{% endblock %}
