.main {
    background: url("../image/background-main.jpg") no-repeat center top fixed;
    background-size: cover;
}
.main-section {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: #f8f9fa;
}

.form-block {
    width: 350px;
    background-color: #343a40;
    border-radius: 4px;
    padding: 16px;
}

.form p {
    margin-bottom: 8px;
}

.form p label {
    display: block;
}

.form p:last-of-type label {
    display: inline-block;
}

.form p input:not(#id_remember) {
    border-radius: 4px;
    width: 100%;
    height: 35px;
}

.nav-pills .nav-link.active {
    background-color: #343a40;
}

.subtitle-task {
    font-size: 14px;
}