body {
    background: url("../image/background-main.jpg") no-repeat;
    background-size: cover;
}
.main {
    padding-top: 200px;
}
.main-title {
    text-align: center;
    padding-bottom: 35px;
    color: #f8f9fa;
}
.form {
    width: 300px;
    padding: 15px 10px 20px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #f8f9fa;
}
.form input {
    background-color: rgba(0,0,0,0);
}
.form-control:focus {
    color: #f8f9fa;
    background-color: rgba(0,0,0,0);
    border-color: #f8f9fa;
    box-shadow: none;
}