{% extends 'main/base.html' %}

{% block title %}
  Project To Do
{% endblock %}

{% block content %}
  <div class="container main">
    <div class="row">
      <form class="form" method="post">
        <h4 class="text-light mb-3">Регистрация</h4>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group text-light mb-2">
            {{ field.label }}
            {{ field }}
          </div>
          {% if fiald.errors %}
            <div class="alert alert-danger">
              {{ field.errors }}
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-outline-light mt-3">Создать</button>
      </form>
    </div>
  </div>
{% endblock %}