{% extends 'main/base.html' %}

{% block title %}
  Project To Do
{% endblock %}

{% block content %}
  <div class="container main">
    <div class="row">
      <form class="form">
        <div class="form-group text-light mb-2">
          <label for="formControlLogin">Логин</label>
          <input type="text" class="form-control form-control-sm " id="formControlLogin">
        </div>
        <div class="form-group text-light">
          <label for="formControlPassword">Пароль</label>
          <input type="password" class="form-control form-control-sm" id="formControlPassword">
        </div>
        <button type="submit" class="btn btn-outline-light">Вход</button>
        <a href="{% url 'sign-up' %}" role="button" class="btn text-light float-right">Регистрация</a>
      </form>
    </div>
  </div>
{% endblock %}